= f.input :title, input_html: { data: { test: "article-title" } }
= f.input :image_url, as: :fake, input_html: { data: { test: "article-image-url" } }
= f.input :body, as: :text, input_html: { data: { test: "article-body" } }
