h1 = @article.title
p = @article.body
= link_to t(".back"), articles_path
br
= link_to t(".edit"), edit_article_path(@article)
br
= link_to t(".delete"), article_path(@article), method: :delete, confirm: t(".confirm?")
